body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding:20px;
}

.box-model-demo{
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 5px solid #333;
    margin: 30px;
    background-color: #f0f0f0;
}

.content-box{
    box-sizing: content-box;
    background-color: #ffcccc;
}

.border-box{
    box-sizing: border-box;
    background-color: aqua;
}

.inline-element{
    display: block;
    background-color: #ccefff;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 100px;

}

.block-example{
    display: inline;
    background-color: #2794c7;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 100px;
}